Cleario/Secrets/TraktSecrets.props
Cleario/Services/TraktCredentials.g.cs
*.env
.env

# Build output
bin/
obj/
.vs/
*.pdb

**/AppPackages/
**/publish/

TestResults/

*.user
*.suo
*.cache
*.log

*.pfx
*.cer
*.snk

*.msix
*.msixbundle
*.appx
*.appxbundle
*.msixupload
*.appxupload

*.zip
*.7z
*.rar
# Local MPV native files (download/place locally, do not commit)
/Cleario/Players/mpv/*
!/Cleario/Players/mpv/PLACE_MPV_LIB_FILES_HERE.txt
